[submodule "ros2-web-control/ros2-web-bridge"]
	path = ros2-web-control/ros2-web-bridge
	url = https://github.com/RobotWebTools/ros2-web-bridge.git
[submodule "ros2-web-control/webviz"]
	path = ros2-web-control/webviz
	url = https://github.com/cruise-automation/webviz.git
